@import
  "variables"
;

.event {
  margin-bottom: 1.5rem;
  margin-right: .5rem;
  padding-right:1.5rem;
  @extend .row;
  &.cancelled{
    .date{
      background-color: $red;
    }
  }

  .date {
    @extend .col-2;
    background-color: $gray-dark;
    color: $white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, sans-serif;//check with Kegan
    text-transform: uppercase;
  }

  .text {
    @extend .col-10;
    background-color: $gray-light;
    padding: 35px;
  }

  div {
      padding: 1.5rem;
      //padding-left:2rem;
  }

}
