@charset "utf-8";

@import
  "variables",
  "bootstrap/scss/utilities"
;

.bg-gray {
  background-color: $gray;
}
.bg-gray-dark {
  background-color: $gray-dark;
  color: $white;
}
.bg-gray-light {
  background-color: $gray-light;
}

.site-header {
  background-color: $white;
  @extend .sticky-top;
}

section,
.section {
  padding: $spacer 0;
  .title {
    @extend .text-uppercase;
    border-bottom: solid 4px $gray-dark;
  }
}

.site-footer {
  @extend .bg-gray;
}
